@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor: @ViewData["dev"]</p>

<address>
    <strong>Mais informações: </strong> <a href="#">@ViewData["Email"]</a>
</address>
